# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
radarr:
  merged-radarr-v4:
    base_url: {{ radarr_url }}
    api_key: {{ radarr_api_key }}

    quality_definition:
      type: movie

    quality_profiles:
      - trash_id: d1d67249d3890e49bc12e275d989a7e9
        name: HD Bluray + WEB
        upgrade:
          allowed: false
      - trash_id: 64fb5f9858489bdac2af690e27c8f42f
        name: UHD Bluray + WEB
        upgrade:
          allowed: false
      - trash_id: 9ca12ea80aa55ef916e3751f4b874151
        name: Remux + WEB 1080p
        upgrade:
          allowed: false
      - trash_id: fd161a61e3ab826d3a22d53f935696dd
        name: Remux + WEB 2160p
        upgrade:
          allowed: false
      - trash_id: 722b624f9af1e492284c4bc842153a38
        name: Remux-1080p - Anime
        upgrade:
          allowed: false
          
    custom_formats:
      # Movie Versions
      - trash_ids:
          - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced
        assign_scores_to:
          - name: HD Bluray + WEB
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases
          - name: UHD Bluray + WEB
          # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases
          - name: Remux + WEB 1080p
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases
          - name: Remux + WEB 2160p
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases

      ### Optional UHD Formats
      - trash_ids:
          # Comment out the next line if you and all of your users' setups are fully DV compatible
          - 923b6abef9b17f937fab56cfcf89e1f1 # DV (WEBDL)
          # HDR10Plus Boost - Uncomment the next line if any of your devices DO support HDR10+
          # - b17886cb4158d9fea189859409975758 # HDR10Plus Boost
        assign_scores_to:
          - name: UHD Bluray + WEB
          - name: Remux + WEB 2160p

      - trash_ids:
          - 9c38ebb7384dada637be8899efa68e6f # SDR
        assign_scores_to:
          - name: UHD Bluray + WEB
            # score: 0 # Uncomment this line to allow SDR releases
          - name: Remux + WEB 2160p
            # score: 0 # Uncomment this line to allow SDR releases
      
      ### Anime
      - trash_ids:
          - 064af5f084a0a24458cc8ecd3220f93f # Uncensored
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: 101 # Adjust scoring as desired

      - trash_ids:
          - a5d148168c4506b55cf53984107c396e # 10bit
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: 0 # Adjust scoring as desired

      - trash_ids:
          - 4a3b087eea2ce012fcc1ce319259a3be # Anime Dual Audio
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: -1000 # Adjust scoring as desired