{
  "openId": {
    "discoveryURL": "https://accounts.google.com/.well-known/openid-configuration",
    "client_id": "{{ oauth_client_id }}",
    "client_secret": "{{ oauth_client_secret }}",
    "server_hostname": "https://budget.{{ domain_name }}",
    "authMethod": "openid"
  }
}