users:
  {{ primary_user }}:
    displayname: "{{ primary_user }}"
    password: "{{ authelia_hashed_pass }}"
    email: {{ admin_email_address }}
    groups:
      - admin
      - dev

  {{ secondary_user }}:
    displayname: "{{ secondary_user }}"
    password: "{{ secondary_user_authelia_hashed_pass }}"
    email: {{ secondary_user_email_address }}
    groups:
      - blaze