# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
###################################################################################################
# Recyclarr Configuration Template: HD Bluray + WEB                                               #
# Updated: 2023-10-07                                                                             #
# Documentation: https://recyclarr.dev                                                            #
# Note: If you are using multiple profiles in a single instance, please read the following        #
# documentation about file merging:                                                               #
# https://recyclarr.dev/wiki/yaml/config-examples/#merge-single-instance                          #
###################################################################################################
radarr:
  merged-radarr-v4:
    base_url: {{ radarr_url }}
    api_key: {{ radarr_api_key }}

    include:
      # Comment out any of the following includes to disable them
      - template: radarr-quality-definition-movie
      - template: radarr-quality-profile-hd-bluray-web
      - template: radarr-custom-formats-hd-bluray-web
      - template: radarr-quality-profile-uhd-bluray-web
      - template: radarr-custom-formats-uhd-bluray-web
      - template: radarr-quality-profile-remux-web-1080p
      - template: radarr-custom-formats-remux-web-1080p
      - template: radarr-quality-profile-remux-web-2160p
      - template: radarr-custom-formats-remux-web-2160p
      - template: radarr-quality-profile-anime
      - template: radarr-custom-formats-anime

    quality_profiles:
      - name: HD Bluray + WEB
        upgrade:
          allowed: false
      - name: UHD Bluray + WEB
        upgrade:
          allowed: false
      - name: Remux + WEB 1080p
        upgrade:
          allowed: false
      - name: Remux + WEB 2160p
        upgrade:
          allowed: false
      - name: Remux-1080p - Anime
        upgrade:
          allowed: false
          
    custom_formats:
      # Movie Versions
      - trash_ids:
          - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced
        quality_profiles:
          - name: HD Bluray + WEB
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases
          - name: UHD Bluray + WEB
          # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases
          - name: Remux + WEB 1080p
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases
          - name: Remux + WEB 2160p
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases

      ### Optional UHD Formats
      - trash_ids:
          # Comment out the next line if you and all of your users' setups are fully DV compatible
          - 923b6abef9b17f937fab56cfcf89e1f1 # DV (WEBDL)
          # HDR10Plus Boost - Uncomment the next line if any of your devices DO support HDR10+
          # - b17886cb4158d9fea189859409975758 # HDR10Plus Boost
        quality_profiles:
          - name: UHD Bluray + WEB
          - name: Remux + WEB 2160p

      - trash_ids:
          - 9c38ebb7384dada637be8899efa68e6f # SDR
        quality_profiles:
          - name: UHD Bluray + WEB
            # score: 0 # Uncomment this line to allow SDR releases
          - name: Remux + WEB 2160p
            # score: 0 # Uncomment this line to allow SDR releases
      
      ### Anime
      - trash_ids:
          - 064af5f084a0a24458cc8ecd3220f93f # Uncensored
        quality_profiles:
          - name: Remux-1080p - Anime
            score: 101 # Adjust scoring as desired

      - trash_ids:
          - a5d148168c4506b55cf53984107c396e # 10bit
        quality_profiles:
          - name: Remux-1080p - Anime
            score: 0 # Adjust scoring as desired

      - trash_ids:
          - 4a3b087eea2ce012fcc1ce319259a3be # Anime Dual Audio
        quality_profiles:
          - name: Remux-1080p - Anime
            score: -1000 # Adjust scoring as desired