# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
sonarr:
  merged-sonarr-v4:
    base_url: {{ sonarr_url }}
    api_key: {{ sonarr_api_key }}

    quality_definition:
      type: series

    quality_profiles:
      - trash_id: 9d142234e45d6143785ac55f5a9e8dc9 # WEB-1080p (Alternative)
        name: WEB-1080p
        upgrade:
          allowed: false
      - trash_id: dfa5eaae7894077ad6449169b6eb03e0 # WEB-2160p (Alternative)
        name: WEB-2160p
        upgrade:
          allowed: false
      - trash_id: 20e0fc959f1f1704bed501f23bdae76f # [Anime] Remux-1080p
        name: Remux-1080p - Anime
        upgrade:
          allowed: false

    custom_format_groups:
      add:
        # 1080p Alternative Golden Rule
        - trash_id: 158188097a58d7687dee647e04af0da3  # [Required] Golden Rule HD
            
        # 2160p Alternative Golden Rule
        - trash_id: e3f37512790f00d0e89e54fe5e790d1c  # [Required] Golden Rule UHD

    custom_formats:
      # HDR Formats
      - trash_ids:
          # Comment out the next line if you and all of your users' setups are fully DV compatible
          - 9b27ab6498ec0f31a3353992e19434ca # DV (WEBDL)
        assign_scores_to:
          - name: WEB-2160p

      # Optional SDR
      - trash_ids:
          - 83304f261cf516bb208c18c54c0adf97 # SDR (no WEBDL)
        assign_scores_to:
          - name: WEB-2160p
      
      # Anime Formats
      - trash_ids:
          - 026d5aadd1a6b4e550b134cb6c72b3ca # Uncensored
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: 101

      - trash_ids:
          - b2550eb333d27b75833e25b8c2557b38 # 10bit
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: 0

      - trash_ids:
          - 418f50b10f1907201b6cfdf881f467b7 # Anime Dual Audio
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: -1000