---
timezone: America/Denver
primary_user: jotaro
primary_group: jotaro
# primary_user defined in home and remote group vars
primary_user_pass: "{{ vault_primary_user_pass }}"
primary_user_pass_encoded: "{{ vault_primary_user_pass_encoded }}"
primary_user_puid: 1000
primary_user_guid: 1000
ansible_user: "{{ primary_user }}"
ssh_user: "{{ primary_user }}"

media_ip: "{{ vault_media_ip }}"

sudo_users:
  - { user: "{{ primary_user }}", group: "{{ primary_user }}" }

docker_users:
  - "{{ primary_user }}"
compose_puid: "{{ primary_user_puid }}"
compose_guid: "{{ primary_user_guid }}"

docker_compose_version: v2.29.1
docker_package_state: latest

# ssh hardening
ssh_ansible_identity_key: "{{ vault_ansible_ssh_identity_key }}"
ssh_identity_key: "{{ vault_ssh_identity_key }}"
sftp_enabled: true

email_user: jotaro0010
admin_email_address: "{{ email_user }}@gmail.com"
admin_email_password: "{{ vault_admin_email_password }}"
alternate_email_address: "{{ vault_alternate_email_address }}"

email_password_url_encoded: "{{ vault_admin_email_password }}"

base_domain_name: "{{ vault_base_domain_name }}"

sonarr_api_key: "{{ vault_sonarr_api_key }}"
radarr_api_key: "{{ vault_radarr_api_key }}"
traefik_auth_key: "{{ vault_traefik_auth_key }}"

code_ip: "{{ vault_code_ip }}"