# {{ ansible_managed }}
networks:
  # Containers part of the reverse proxy system
  proxies:
    driver: bridge
    ipam:
      config:
        - subnet: 10.17.100.0/24

  # network for the docker socket
  socket_proxy:
    driver: bridge

include:
  - compose/core.yml
  - compose/arr.yml
  - compose/downloaders.yml
  #- compose/game-servers.yml
  - compose/media.yml
  - compose/utilities.yml
