### FOR FURTHER DETAILS SEE https://github.com/thomseddon/traefik-forward-auth
# Guide: https://www.smarthomebeginner.com/google-oauth-with-traefik-2-docker/

providers.google.client-id={{ oauth_client_id }}
providers.google.client-secret={{ oauth_client_secret }}
secret={{ forward_auth_secret }}
whitelist={{ admin_email_address }}
{% for email in oauth_whitelist %}
whitelist={{ email }}
{% endfor %}