services:
  common-keys-core:
    restart: always
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  common-keys-apps:
    restart: unless-stopped
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  common-keys-core-vpn:
    restart: always
    network_mode: "service:wireguard"
    depends_on:
      - wireguard
    security_opt:
      - no-new-privileges:true

  common-keys-apps-vpn:
    restart: unless-stopped
    network_mode: "service:wireguard"
    depends_on:
      - wireguard
    security_opt:
      - no-new-privileges:true

  immich-ml:
    extends:
      file: hwaccel.ml.yml
      service: openvino
    restart: unless-stopped
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  immich-server:
    extends:
      file: hwaccel.transcoding.yml
      service: quicksync
    restart: unless-stopped
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true
