# {{ ansible_managed }}

version: "3.8"

networks:
  proxies:
    # Containers part of the reverse proxy system
    driver: bridge
  isolated:
    # Containers not part of the reverse proxy system
    driver: bridge


services:

  unifi-controller:
    image: lscr.io/linuxserver/unifi-controller
    container_name: unifi-controller
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - MEM_LIMIT=1024M #optional
      - MEM_STARTUP=1024M #optional
    volumes:
      - {{ container_data_path }}/unifi:/config
    ports:
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      - 8443:8443
      - 1900:1900/udp #optional
      - 8843:8843 #optional
      - 8880:8880 #optional
      - 6789:6789 #optional
      - 5514:5514/udp #optional
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

  vpn:
    image: dperson/openvpn-client
    container_name: vpn
    # cap_add, security_opt, and volume required for the image to function
    cap_add:
      - net_admin
    environment:
      - TZ=${TZ}
    command: -d
    # if using '-d' or 'DNS' you can't enable the `read_only: true` option
    read_only: false
    tmpfs:
      - /run
      - /tmp
    restart: unless-stopped
    security_opt:
      - label:disable
    stdin_open: true
    tty: true
    volumes:
      - /dev/net:/dev/net:z
      - {{ container_data_path }}/vpn:/vpn
    # Put .ovpn configuration file in the /vpn directory (in "volumes:" above or
    # launch using the command line arguments, IE pick one:
    #  - ./vpn:/vpn
    # command: 'server;user;password[;port]'
    ports:
      - 6881:6881
      - 6881:6881/udp
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
    volumes:
      - {{ container_data_path }}/qbittorrent:/config
      - {{ media_data_path }}:/data
    network_mode: "service:vpn"
    depends_on:
      - vpn
    security_opt:
      - no-new-privileges:true

  jackett:
    image: lscr.io/linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - AUTO_UPDATE=true #optional
    volumes:
      - {{ container_data_path }}/jackett:/config
    restart: unless-stopped
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  plex:
    image: linuxserver/plex
    container_name: plex
    restart: unless-stopped
    runtime: nvidia
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=latest
      - NVIDIA_VISIBLE_DEVICES=ALL
    volumes:
      - '{{ container_data_path }}/plex/config:/config'
      - '{{ media_data_path }}:/data'
      - '{{ container_data_path }}/plex/transcode:/transcode'
    network_mode: host
    security_opt:
      - no-new-privileges:true

  nginx:
    image: nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - '{{ container_data_path }}/nginx/html:/etc/nginx/html'
      - '{{ container_data_path }}/nginx/config:/etc/nginx'
      - '{{ container_data_path }}/certbot/conf:/etc/letsencrypt'
      - '{{ container_data_path }}/certbot/www:/var/www/certbot'
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  muximux:
    image: linuxserver/muximux
    container_name: muximux
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - '{{ container_data_path }}/muximux:/config'
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    restart: unless-stopped
    environment:
        - PUID=${PUID}
        - PGID=${PGID}
        - TZ=${TZ}
    volumes:
      - '{{ container_data_path }}/tautulli:/config'
      - '{{ container_data_path }}/plex/config/Library/Application Support/Plex Media Server/Logs/:/logs'
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  beets:
    image: linuxserver/beets
    container_name: beets
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - '{{ container_data_path }}/beets:/config'
      - '{{ media_data_path }}/Music:/music'
    networks:
      - isolated
    security_opt:
      - no-new-privileges:true

  {# certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - '{{ container_data_path }}/certbot/conf:/etc/letsencrypt'
      - '{{ container_data_path }}/certbot/www:/var/www/certbot'
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - isolated
    security_opt:
      - no-new-privileges:true #}

  anime-sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: anime-sonarr
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - '{{ container_data_path }}/anime-sonarr:/config'
      - '{{ media_data_path }}:/data'
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  tv-sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: tv-sonarr
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - '{{ container_data_path }}/tv-sonarr:/config'
      - '{{ media_data_path }}:/data'
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - '{{ container_data_path }}/radarr:/config'
      - '{{ media_data_path }}:/data'
    networks:
      - proxies
    security_opt:
      - no-new-privileges:true

  crafty-web:
    image: shawly/crafty-web
    container_name: crafty
    environment:
      TZ: "${TZ}"
      USER_ID: ${PUID}
      GROUP_ID: ${PGID}
      INSTALL_JAVA8: "false"
      INSTALL_JAVA11: "false"
      INSTALL_JAVA17: "true"
    ports:
      - "25565-25570:25565-25570/tcp"
      - "25565-25570:25565-25570/udp"
      - "8000:8000"
    volumes:
      - "{{ container_data_path }}/crafty/servers:/minecraft_servers:rw"
      - "{{ container_data_path }}/crafty/database:/crafty_db:rw"
      - "{{ container_data_path }}/crafty/backups:/crafty_web/backups:rw"
      - "{{ container_data_path }}/crafty/minecraft:/var/opt/minecraft"
