{% include '_anchors.yml.j2' %}

services:
  plexautolanguages:
    extends:
      file: common.yml
      service: common-keys-apps
    image: remirigal/plex-auto-languages:latest
    container_name: plexautolanguages
    environment:
      <<: *default-tz-puid-pgid
      PLEX_URL: "http://$PLEX_IP:32400"
      PLEX_TOKEN: $PLEX_TOKEN
    volumes:
      - '$CONTAINER_APPDATA_DIR/plexautolanguages:/config'

  tautulli:
    extends:
      file: common.yml
      service: common-keys-apps
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      <<: *default-tz-puid-pgid
    volumes:
      - '$CONTAINER_APPDATA_DIR/tautulli:/config'
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.tautulli-rtr.entrypoints=websecure"
      - "traefik.http.routers.tautulli-rtr.rule=Host(`tautulli.$DOMAIN_NAME`)"
      ## Middlewares
      - "traefik.http.routers.tautulli-rtr.middlewares=chain-oauth@file"
      ## HTTP Services
      - "traefik.http.routers.tautulli-rtr.service=tautulli-svc"
      - "traefik.http.services.tautulli-svc.loadbalancer.server.port=8181"

  ombi:
    extends:
      file: common.yml
      service: common-keys-apps
    image: lscr.io/linuxserver/ombi:latest
    container_name: ombi
    environment:
      <<: *primary-tz-puid-pgid
    volumes:
      - $CONTAINER_APPDATA_DIR/ombi/config:/config
    labels:
      - "traefik.enable=true"
      ## HTTP Routers
      - "traefik.http.routers.ombi-rtr.entrypoints=websecure"
      - "traefik.http.routers.ombi-rtr.rule=Host(`ombi.$DOMAIN_NAME`)"
      ## Middlewares
      - "traefik.http.routers.ombi-rtr.middlewares=chain-oauth@file" 
      ## HTTP Services
      - "traefik.http.routers.ombi-rtr.service=ombi-svc"
      - "traefik.http.services.ombi-svc.loadbalancer.server.port=3579"